<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Predict if you would have survived the Titanic disaster</title>
</head>
<body>
  <div class="login">
    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="class" placeholder="Class" required="required" /> <br>
      <input type="text" name="sex" placeholder="Sex" required="required" /> <br>
      <input type="text" name="age" placeholder="Age" required="required" /> <br>
      <input type="text" name="sibsp" placeholder="NUmber of siblings or spouse" required="required" /> <br>
      <input type="text" name="parch" placeholder="Number of parents" required="required" /> <br>
      <input type="text" name="fare" placeholder="Fare price $" required="required" /> <br>
      <input type="text" name="embarked" placeholder="Embarked city" required="required" /> <br>
      <button type="submit" class="btn btn-primary btn block btn-large">Predict</button>
    </form>
    {% if pred == 1 %}
      <h4 class="alert alert-success">Will you survive? <span class="badge badge-success">Yes!</span></h4>
    {% else %}
      <h4 class="alert alert-success">Will you survive? <span class="badge badge-danger">No 😢!</span></h4>
    {% endif %}
    <h4 class="alert alert-success">Likelihood of survival: {{likelihood}}</h4>
  </div>
</body>
</html>